@custom-media --display-full (min-width: 1801px);
@custom-media --display-medium (max-width: 1800px);
@custom-media --tablet (max-width: 1200px);
@custom-media --mobile (max-width: 768px);

@media (--mobile) {

  html, body {
    font-size: 14px;
    text-align: center;
    min-width: 320px;
  }
}