.header__triangle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 50px;
}

.header__triangle-svg {
  margin-bottom: -4px;
}

.works__title {
  display: block;
  background-color: #faf8f0;
  text-align: center;
}

.slider {
  height: 750px;
}

.slider__content, .slider__img {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #f0efe9;
}

.slider__content {
  float: left;
}

.slider__img {
  float: right;
}

.slider__content {
  position: relative;
  background-color: #f0efe9;
  text-align: center;
}

.slider__content-main {
  display: inline-block;
  position: absolute;
  width: 420px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__content-technologies {
  color: #20b5a1;
  margin: 40px;
  padding: 15px 0;
  border-top: 1px rgba(0, 150, 136, 0.30) solid;
  border-bottom: 1px rgba(0, 150, 136, 0.30) solid;
}

.btn-website {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background-color: #00bfa5;
  color: white;
  border: 0;
  transition: background-color 0.5s;

  &:hover {
    background-color: #009688;
    cursor: pointer;
  }

  i {
    margin-right: 10px;
  }
}

.slider__img {
  background-color: #efebe0;
}

.slider__img-top {
  width: 100%;
  height: 70%;
  text-align: center;
  background-color: #efebe0;

  img {
    max-height: 90%;
    padding: 5%;
  }

 }

.slider__img-left {
  position: relative;
  float: left;
  width: 50%;
  height: 30%;
  background-color: #f1ede1;
  text-align: center;

  img {
    max-height: 95%;
    padding: 2%;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(182, 180, 174, 0.7);
  }

  &:after {
    display: block;
    font-family: FontAwesome, serif;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 60px;
    content: "\f078";
    position: absolute;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
    transition: text-shadow 0.5s;
  }

  &:hover {
    cursor: pointer;
    &:after {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.slider__img-right {
  position: relative;
  float: right;
  width: 50%;
  height: 30%;
  background-color: #e3ded0;
  text-align: center;

  img {
    max-height: 95%;
    padding: 2%;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 131, 114, 0.5);
  }

  &:after {
    display: block;
    font-family: FontAwesome, serif;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 60px;
    content: "\f077";
    position: absolute;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
    transition: text-shadow 0.5s;
  }

  &:hover {
    cursor: pointer;
    &:after {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.about-talk {
  position: relative;
  text-align: center;
  padding: 26px;
  background: url("../img/works/bg.jpg") bottom;
  background-size: cover;
}

.about-talk__comment {
  width: 800px;
  margin: 50px auto 70px;
}

.about-talk__comment-block {
  display: inline-block;
  width: (100% / 2) - 5%;
  vertical-align: top;
  text-align: left;
  margin: 1em;


  &:before {
    font-family: FontAwesome, serif;
    content: '\f10d';
    display: block;
    margin-bottom: .55em;
    color: rgba(55, 62, 66, 0.2);
    font-size: 2.2em;
    line-height: 1;
  }
}

.about-talk__comment-author {
  margin-top: 20px;
}

.about-talk__comment-name {
  display: inline-block;
  vertical-align: middle;
}

.about-talk__contact {
  position: relative;
  width: 380px;
  padding: 20px 0 50px;
  border-radius: 5px;
  background-image: url("../img/works/contact.jpg");
  margin: auto auto 300px;
  overflow: hidden;
}

.contact-input {
  box-sizing: border-box;
  width: 340px;
  min-height: 40px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px 0;
}