.header {
  text-align: center;
  background: url("../img/bg_pages.jpg") 50%;
  background-size: cover;
}

.header__top {
  height: 100px;
}

.header__menu {
  max-width: 50%;
  float: right;
  padding: 30px;
}

.header__triangle {
  position: relative;
  margin-top: 50px;
}

.header__triangle-svg {
  margin-bottom: -4px;
}

.header__title {
  position: relative;
}

.arrow-down-little {
  position: absolute;
  width: 100%;
  top: 20px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

//.user__info {
//  top: 0;
//  left: 50%;
//  position: absolute;
//}

.slider {
  height: 750px;
}

.slider__content, .slider__img {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #f0efe9;
}

.slider__content {
  float: left;
}

.slider__img {
  float: right;
}

.slider__content {
  position: relative;
  background-color: #f0efe9;
  text-align: center;
}

.slider__content-main {
  display: inline-block;
  position: absolute;
  width: 420px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__content-technologies {
  color: #20b5a1;
  margin: 40px;
  padding: 15px 0;
  border-top: 1px rgba(0, 150, 136, 0.30) solid;
  border-bottom: 1px rgba(0, 150, 136, 0.30) solid;
}

.btn-website {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background-color: #00bfa5;
  color: white;
  border: 0;
  transition: background-color 0.5s;

  &:hover {
    background-color: #009688;
    cursor: pointer;
  }

  i {
    margin-right: 10px;
  }
}

.slider__img {
  background-color: #efebe0;
}

.slider__img-top {
  width: 100%;
  height: 70%;
  text-align: center;
  background-color: #efebe0;

  img {
    max-height: 90%;
    padding: 5%;
  }

 }

.slider__img-left {
  float: left;
  width: 50%;
  height: 30%;
  background-color: #f1ede1;
  text-align: center;

  img {
    max-height: 95%;
    padding: 2%;
  }
}

.slider__img-right {
  float: right;
  width: 50%;
  height: 30%;
  background-color: #e3ded0;
  text-align: center;

  img {
    max-height: 95%;
    padding: 2%;
  }
}

.about {
  text-align: center;
  padding: 26px;
  background: url("../img/works/bg.jpg") bottom;
  background-size: cover;
}

.about__comment {
  width: 800px;
  margin: 50px auto 70px;
}

.about__comment-block {
  display: inline-block;
  width: (100% / 2) - 5%;
  vertical-align: top;
  text-align: left;
  margin: 1em;


  &:before {
    font-family: FontAwesome, serif;
    content: '\f10d';
    display: block;
    margin-bottom: .55em;
    color: rgba(55, 62, 66, 0.2);
    font-size: 2.2em;
    line-height: 1;
  }
}

.about__comment-author {
  margin-top: 20px;
}

.about__comment-name {
  display: inline-block;
  vertical-align: middle;
}

.about__contact {
  position: relative;
  width: 380px;
  padding: 20px 0 50px;
  border-radius: 5px;
  background-image: url("../img/works/contact.jpg");
  margin: auto auto 300px;
  overflow: hidden;
}

.contact-input {
  box-sizing: border-box;
  width: 340px;
  min-height: 40px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px 0;
}

.footer {
  margin-top: -147px;
  height: 147px;
  background-color: rgba(55, 62, 66, 0.85);
}

.footer__top, .footer__buttom {
  height: 50%;
}