.authorization#auth_block
  .authorization__title.
    Авторизуйтесь
  .authorization__login
    .login__icon
      i(class="fa fa-user" aria-hidden="true")
    input(type="text").login__input
  .authorization__pass
    .pass__icon
      i(class="fa fa-key" aria-hidden="true")
    input(type="password").pass__input

  .checkbox
    input(id="check1" type="checkbox" name="check" value="check1")
    label(for="check1") Я человек

  .radio-text Вы точно не робот?
  .radio
    input(id="radio1" type="radio" name="radio" value="yes")
    label(for="radio1") Да
    input(id="radio2" type="radio" name="radio" value="no")
    label(for="radio2") Не уверен


  .start__btns
    a(href='#').start__btn.start__btn--auth#welcome_btn На главную
    a(href='#').start__btn.start__btn--auth Войти