.wrapper-welcome
  .welcome-block
    .welcome-block__avatar
    .welcome-block__title.
      Артем Боюр
    .welcome-block__text.
      Личный сайт веб разработчика
    .welcome-block__social
        a(href='#')
          i(class="fa fa-vk" aria-hidden="true")
        a(href='#')
          i(class="fa fa-github-alt" aria-hidden="true")
        a(href='#')
          i(class="fa fa-linkedin-square" aria-hidden="true")
    .welcome-block__btns
      a(href='#').welcome-block__btn Мои работы
      a(href='#').welcome-block__btn Обо мне
      a(href='#').welcome-block__btn Блог
a(href='#').auth-btn Авторизоваться