.header__top
    .social.social--header
        a(href='#')
            i(class="fa fa-vk" aria-hidden="true")
        a(href='#')
            i(class="fa fa-github-alt" aria-hidden="true")
        a(href='#')
            i(class="fa fa-linkedin-square" aria-hidden="true")
    .header__menu
        include ../../icons/hamburger.svg

.header__main
    .header__title
        .title-dashes__bg.title-dashes__bg--auto
            include ../../icons/portfolio_header.svg
        .user__info.title--bg
            .user__avatar
                img.user__avatar-img(src="assets/img/welcome/avatar.jpg")
            .user__title.user__title--header Артем Боюр
            .user__text Личный сайт веб разработчика