.authorization {
  display: none;
  transition: 0.5s;
  transform: scaleX(0);
}

.authorization__title {
  display: inline-block;
  font-family: bernier_regularregular, serif;
  font-size: 35px;
  line-height: 1.2;
  color: #455a64;
  margin-bottom: 20px;

  &:after, &:before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 5px;
    opacity: 0.2;
    background-color: #373e42;
    vertical-align: middle;
    margin: 20px;
  }
}

.authorization__login, .authorization__pass {
  position: relative;
  width: 340px;
  height: 45px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px auto 20px;
  text-align: left;
  overflow: hidden;
}

.login__icon, .pass__icon {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 45px;
  background: #f0efe9;;

  font-size: 18px;
  line-height: 2.5;
  color: #c4cbcd;
  text-align: center;
}

.login__input, .pass__input {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 295px;
  outline: none;
  padding: 0 10px;
  right: 0;
  border: 1px white solid;
  border-radius: 0 5px 5px 0;
  transition: 0.5s;

  &:focus, &:hover {
    border-color: #00bfa5;
  }
}

.radio-text {
  font-family: robotomedium, serif;
  color: rgba(69, 90, 100, 0.8);
  line-height: 2;
  margin: 10px 10px 0 10px;
}

// Custom checkbox
.checkbox{
  box-sizing: border-box;
  font-family: robotoregular, serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(69, 90, 100, 0.8);

  label:before {
    font-family: FontAwesome, serif;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
    content: "\00a0";
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  input[type=checkbox] {
    display: none;

    &:checked + label:before {
      content: "\f00c";
      color: #f3f3f3;
      background-color: #00bfa5;
      border: solid 1px transparent;
    }
  }
}

.radio{
  box-sizing: border-box;
  font-family: robotoregular, serif;
  font-size: 16px;
  text-align: center;
  color: rgba(69, 90, 100, 0.8);

  label:before {
    font-family: FontAwesome, serif;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    line-height: 18px;
    content: "\00a0";
    border-radius: 12px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-bottom;
  }

  input[type=radio] {
    display: none;

    &:checked + label:before {
      content: "\2022";
      color: #00bfa5;
      background-color: #ffffff;
    }
  }

  label {
    margin: 0 17px;
  }
}