.welcome {
  transition: 0.5s;
  transform: scaleX(1);
}

.welcome__social, .social {
  padding: 30px 0 0;
  font-family: fontawesomeregular, serif;
  font-size: 28px;

  a {
    text-decoration: none;
    transition: 0.5s;
    color: #00bfa5;
    opacity: 0.5;
    padding: 15px;

    &:visited {
      color: #00bfa5;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.social--header {
  max-width: 50%;
  float: left;
  margin-left: 15px;

  a {
    color: #fff;
    opacity: 0.5;

    &:active {
      color: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }
}