@breakpoints {
  desktop: 1200px;
  tablet: 768px;
  phone: 480px;
}

@import '../style/_misc/stylesheet.pcss';
@import '../style/_misc/font-awesome.pcss';
@import '../style/_misc/adjustment.pcss';
@import '../style/_misc/blocks.pcss';
@import 'pages/start';
@import '../style/pages/works.pcss';
@import '../style/pages/about.pcss';
@import '../style/pages/blog.pcss';
@import '../style/common/footer.pcss';
@import '../style/common/header.pcss';