extends ../_template

block variables
    - var title = 'Мои работы'

block content
    .wrapper
        header.header
            include ../common/header

            .header__triangle
                .header__triangle-svg
                    include ../../icons/triangle.svg
                .arrow-down-little
                    a(href='#slider')
                        include ../../icons/arrow_down.svg

        .works
            .works__title
                .big__title
                    .title-dashes__bg
                        include ../../icons/works_header.svg
                    .title-dashes.title--bg Мои работы

            .slider#slider
                .slider__content
                    .slider__content-main
                        .title-medium.title-dashes.title-dashes--double Сайт школы онлайн Образования
                        .slider__content-technologies HTML , CSS, JAVASCRIPT
                        a(href='#')
                            button.btn-website
                                i(class="fa fa-link" aria-hidden="true")
                                | Посмотреть сайт

                .slider__img
                    .slider__img-top
                        img(src="assets/img/works/work-1.png")
                    .slider__img-left
                        img(src="assets/img/works/work-2.png")
                    .slider__img-right
                        img(src="assets/img/works/work-3.png")

        .about-talk
            .big__title
                .title-dashes__bg
                    include ../../icons/about_header.svg
                .title-dashes.title--bg.title-dashes--double Что обо мне говорят

            .about-talk__comment
                .about-talk__comment-block
                    .about-talk__comment-text.
                        Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний!
                    .about-talk__comment-author
                        .user__avatar.user__avatar--comment
                            img.user__avatar-img(src="assets/img/works/dima.png")
                        .about-talk__comment-name
                            .about-talk__comment-fio Ковальчук Дмитрий
                            .about-talk__comment-description основатель Loftschool

                .about-talk__comment-block
                    .about-talk__comment-text.
                        Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .about-talk__comment-author
                        .user__avatar.user__avatar--comment
                            img.user__avatar-img(src="assets/img/works/zar.png")
                        .about-talk__comment-name
                            .about-talk__comment-fio Зар Захаров
                            .about-talk__comment-description преподаватель

            .about-talk__contact
                .title-medium.title-dashes Связаться со мной
                form
                    input(type="text" placeholder="Имя").contact-input
                    input(type="text" placeholder="Email").contact-input
                    textarea(rows="4" placeholder="Ваше сообщение").contact-textarea
                .start__btns
                    a(href='#').start__btn Отправить
                    a(href='#').start__btn Очистить

        include ../common/footer